body {
    background-color: #060670;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

img {
    max-width: 750px;
    max-height: 421.875px;
    object-fit: cover;
}